*{
    box-sizing: border-box;
    margin: 0;
}

html{
    background-color: rgb(250, 244, 244);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

p{
    font-style: Roboto;
}

body{
    font-family: sans-serif;
    margin: 0;
    text-align: center;
    color: white;
}

a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

header{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

footer{
    display: flex;
    height: 40px;
    align-items: center;
}

hr{
    margin-bottom: 10px;
    border-color: black;
}

h1{
    font-size: 48px;
    background: linear-gradient(to right, blue,white);
    -webkit-background-clip: text;
    color: transparent;
}

h3{
    padding: 25px;
}

#nav-flotante{
    padding-right: 500px;
}

#nav-flotante a:hover{
    background-color: crimson;
    padding: 10px;
}

a:hover{
    color: black;
}

.logo-git img{
    max-height: 30px;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    max-height: 40px;
    padding-right: 10px;
}

.logo h2{
    font-size: 20px;
}

#bandos{
    padding: 50px;
}

#protagonistas{
    padding: 50px;
}

#peliculas{
    padding: 50px;
}

#peliculas img{
    border: 2px white solid;
    border-radius: 2px;
    margin-top: 20px;
}

#peliculas li{
    list-style: none;
    padding: 10px;
}

@media (max-width:600px){
    header{
        flex-direction: column;
        align-self: left;
    }
    nav{
        padding: 10px 0px;
    }
    img{
        max-height: 270px;
        max-width: 270px;
    }
    h1{
        font-size: 40px;
    }
    ol{
        padding: 0px;
    }
    footer{
        padding-left: 15px;
    }
}